.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submit__btn, #update__btn, #reset__btn{
    display: block;
    padding: 10px 0;
    background: #3447ff;
    color: #fff;
    border: none;
    border-radius: 6px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    margin: 8px 0;
}

table, td, th{
    border: 2px solid black;
    min-width: 70px;
    text-align: center;
}